[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "3.0.3"
numpy = "1.18.5"
scipy = "1.4.1"
music21 = "5.7.2"
kivy = "1.11.1"

[dev-packages]

[requires]  
python_version = "3.5"
