[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
music21 = "==6.3.0"
numpy = "==1.19.3"
matplotlib = "==3.3.3"
scipy = "==1.5.4"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
